certifi==2021.5.30
chardet==4.0.0
click==8.0.1
filelock==3.0.12
Flask==2.0.1
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.21.0
packaging==20.9
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
sentencepiece==0.1.96
six==1.16.0
tokenizers==0.8.1rc2
tqdm==4.61.1
transformers==3.3.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.4.1
